include ../../_mixins

section.section.base-biohack
	.container
		.base-biohack__grid
			h2.section__title.base-biohack__title Основные сферы биохакинга
			.base-biohack__swiper.swiper.js-base-biohack-swiper
				.swiper-wrapper
					.swiper-slide.base-biohack-card.base-biohack-card--pink
						p.base-biohack-card__title Активизация мозговой деятельности
						p.base-biohack-card__text Упражнения и практики для повышения когнитивных способностей
					.swiper-slide.base-biohack-card.base-biohack-card--green
						p.base-biohack-card__title Нормализация сна
						p.base-biohack-card__text Оптимизация режима сна для восстановления и поддержки здоровья, борьбы с быстрой утомляемостью
					.swiper-slide.base-biohack-card.base-biohack-card--pink
						p.base-biohack-card__title Физическая активность
						p.base-biohack-card__text Поддержание регулярной физической активности для улучшения общего состояния тела, продуктивности и выносливости
					.swiper-slide.base-biohack-card.base-biohack-card--green
						p.base-biohack-card__title Правильное питание
						p.base-biohack-card__text Индивидуально подобранное питание, учитывающее особенности организма
					.swiper-slide.base-biohack-card.base-biohack-card--pink
						p.base-biohack-card__title Регулировка внутренних процессов с помощью БАД
						p.base-biohack-card__text Использование биологически активных добавок для поддержания здоровья и жизненных сил
					.swiper-slide.base-biohack-card.base-biohack-card--green
						p.base-biohack-card__title Отслеживание показателей здоровья
						p.base-biohack-card__text Контроль основных и дополнительных маркеров состояния всех систем организма
				.js-base-biohack-swiper-pagination.swiper-pagination
