include ../../_mixins

section.section.section--dark.biohack-hero
	.container
		.biohack-hero__content
			h1.biohack-hero__title Биохакинг с Agenyz<span class="r-symbol">®</span>
			p.biohack-hero__subtitle Современный подход к повышению личной эффективности и управлению долголетием!
		.biohack-hero-block
			.biohack-hero-block__column
				p.biohack-hero-block__text С каждым годом все большее число людей обращают внимание на свое состояние, они хотят стать эффективнее, здоровее, жить дольше.
				.biohack-hero-block__column-inner
					p.biohack-hero-block__text Компания Agenyz<span class="r-symbol">®</span> в числе первых внедрила концепцию биохакинга в России и всесторонне подошла к задаче, создавая продукты и инструменты для всех аспектов жизни.
					p.biohack-hero-block__text Благодаря биохакингу человек может жить долгой и продуктивной жизнью: раскрыть внутренние ресурсы организма, управлять ими и перезапустить свой организм на работу с новыми силами. Различные сферы биохакинга помогают быть энергичнее, выносливее, умнее и спокойнее.
				p.biohack-hero-block__text Это не просто набор из диеты и витаминов. <br> Это целый комплекс привычек и даже стиль жизни!
			+responsivePicture("/assets/img/hero-biohack-img-01", 'Изображение в первом блоке', 'biohack-hero-block__img', [], [['jpg', '/assets/img/hero-biohack-img-01-mobile', '(max-width: 1320px)']])
