include ../../_mixins

section.section.section--dark.biohack-about
	.container
		h3.biohack-about__title Биохакинг в Agenyz<span class="r-symbol">®</span> – не просто набор флаконов и баночек для ежедневного приёма. Адженис сочетает высокоэффективные БАДы, изменение подхода к образу жизни и обучающие программы. Это помогает людям добиться максимального результата.
		.biohack-about__grid
			.biohack-about-card.biohack-about-card--img
				p.biohack-about-card__title Высококачественные продукты для перезагрузки организма
				p.biohack-about-card__text Линейки продуктов Agenyz<span class="r-symbol">®</span> способствуют улучшению работы мозга, нормализации сна, повышению энергии и оптимизации показателей здоровья
			.biohack-about-card.biohack-about-card--green
				p.biohack-about-card__title Инновационные технологии в производстве
				p.biohack-about-card__text Обеспечивают максимальную эффективность и биодоступность активных веществ
			.biohack-about-card.biohack-about-card--blue
				p.biohack-about-card__title Поддержка и обучение
				p.biohack-about-card__text Вебинары, курсы, и целые обучающие проекты, посвящённые биохакингу
