section.section.section--dark.knowledge
	.container
		h2.section__title.section__title--center.knowledge__title Сила — в знании
		p.section__subtitle.section__subtitle--center.knowledge__subtitle Два ключевых обучающих курса Agenyz<span class="r-symbol">®</span> помогают наиболее эффективно использовать принципы и продукты биохакинга
		.knowledge__row
			.knowledge-card.knowledge-card--pink
				h3.knowledge-card__title Альфа-фит
				p.knowledge-card__subtitle Фитнес онлайн для всех
				p.knowledge-card__text Ориентирован на тех, кто хочет не просто привести себя в порядок, но и вывести свою физическую форму на новый уровень. В программе сочетаются передовые методики тренировок и принципы биохакинга, направленные на увеличение выносливости, улучшение мышечного тонуса и оптимизацию обмена веществ.
				p.knowledge-card__text Изучив этот курс, вы узнаете, как правильно комбинировать физическую активность и продукты компании для достижения лучших результатов: стройной фигуры, повышения мобильности, ощущения лёгкости, красивого лица.
			.knowledge-card.knowledge-card--green
				h3.knowledge-card__title Нутрициология
				p.knowledge-card__subtitle Основы нутрициологии, рационального питания и практического применения БАД к пище
				p.knowledge-card__text Обучает искусству правильного питания. При этом программа не даёт стандартные советы для всех. Она учит выбирать рацион с учётом индивидуальных особенностей организма.
				p.knowledge-card__text Участники курса изучают, как сбалансировать рацион, не принося в жертву вкус и питательность продуктов, включить в него необходимые витамины и минералы, а также как эффективно использовать БАДы Agenyz<span class="r-symbol">®</span> для поддержания здоровья и долголетия.
