include ../../_mixins

section.section.section--dark.benefits
	.container
		.benefits__column
			h2.section__title Преимущества наших продуктов
			p.section__subtitle В Agenyz<span class="r-symbol">®</span> мы используем только лучшие природные ингредиенты, передовые технологии и наработки экспертов, чтобы предложить вам продукцию высочайшего качества
			+responsivePicture("/assets/img/benefit-img-01", 'Преимущества наших продуктов', 'benefits__img')
		.benefits__grid
			.benefits-swiper.swiper.js-benefits-swiper
				.swiper-wrapper
					.swiper-slide.benefit-card
						p.benefit-card__title Инновационные природные ингредиенты 
						p.benefit-card__text Ингредиенты, входящие в состав, производятся из растений, произрастающих только в экологически чистых зонах. 
					.swiper-slide.benefit-card
						p.benefit-card__title Научный подход и практика
						p.benefit-card__text Только проверенные методы и подтвержденные данные. Многолетняя практика, которая подтверждает эффективность
					.swiper-slide.benefit-card
						p.benefit-card__title Клинические испытания
						p.benefit-card__text Проводим добровольные клинические испытания нашей продукции
					.swiper-slide.benefit-card
						p.benefit-card__title Уверенность в эффективности на личном примере
						p.benefit-card__text Основатели Agenyz<span class="r-symbol">®</span> – активные потребители своей продукции. Их жизненное кредо – создавать и производить только такие продукты, которые захочешь использовать сам и дашь своим детям и родителям.
					.swiper-slide.benefit-card
						p.benefit-card__title Передовые технологии
						p.benefit-card__text Используем инновационные технологии: липосомирование, микрокапсулирование, пептидные ультрализаты, CO2-экстракция, 3D-технологии и др. для достижения максимальной эффективности
					.swiper-slide.benefit-card
						p.benefit-card__title Качество
						p.benefit-card__text Контролируем качество сырья и готовой продукции на всех этапах производства в соответствии со стандартами GMP и ISO 22 000
				.js-benefits-swiper-pagination.swiper-pagination
