include ../../_mixins

section.section.section--dark.product-direction
	.container
		h2.product-direction__title.section__title.section__title--center Направления продукции Agenyz<span class="r-symbol">®</span>
		p.product-direction__subtitle.section__subtitle.section__subtitle--center Agenyz<span class="r-symbol">®</span> – это технологии, инновации и ценные ингредиенты в каждой капсуле, каждом глотке и каждом продукте
		.product-direction__column
			.product-direction-card
				+responsivePicture("/assets/img/product-direction-img-01", 'Продукты для красоты и ухода за собой', 'product-direction-card__img')
				p.product-direction-card__title Продукты для красоты и ухода за собой
				p.product-direction-card__text Уникальная, инновационная, гипоаллергенная косметика с максимумом натуральных компонентов и пептидами
				a(href="#").product-direction-card__link.button.button--outline Подробнее
			.product-direction-card
				+responsivePicture("/assets/img/product-direction-img-02", 'Эффективные продукты для здоровья ', 'product-direction-card__img')
				p.product-direction-card__title Эффективные продукты для здоровья
				p.product-direction-card__text Линейки продуктов Agenyz<span class="r-symbol">®</span>: БАДы, функциональное питание и фитонапитки способствуют улучшению работы мозга, нормализации сна, повышению энергии и оптимизации показателей здоровья.
				a(href="#").product-direction-card__link.button.button--outline Подробнее
			.product-direction-card
				+responsivePicture("/assets/img/product-direction-img-03", 'Инновационные товары ', 'product-direction-card__img')
				p.product-direction-card__title Инновационные товары
				p.product-direction-card__text Стильные полезные украшения, ЧаКарты, уникальные шейкеры, трекеры здоровья и био-частотные приборы – наши ноу-хау разработки для нормализации жизни и самочувствия
				a(href="#").product-direction-card__link.button.button--outline Подробнее
