include ../../_mixins

section.section.products
	.container
		.products__header
			h2.section__title Наши продукты
			a(href="#").button.button--blue.products__link.products__link--pc В магазин
		.products__grid
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-01", 'Продукт', 'product-card__img')
				p.product-card__title CELL ELIXIR
				p.product-card__subtitle Современные технологии биохакинга
				p.product-card__text Клеточные эликсиры - мультикомплексы для восполнения ресурсов организма
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-02", 'Продукт', 'product-card__img')
				p.product-card__title XBi-A®ctive
				p.product-card__subtitle Повышение биопродуктивности
				p.product-card__text Улучшает транспортные и детоксикационные свойства продуктов
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-03", 'Продукт', 'product-card__img')
				p.product-card__title TRUE AQUA
				p.product-card__subtitle Правильная вода
				p.product-card__text Натуральные растворимые напитки для быстрого усвоения активных ингредиентов
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-04", 'Продукт', 'product-card__img')
				p.product-card__title G-KETO
				p.product-card__subtitle Питание для стройной фигуры
				p.product-card__text Масло МТС, шоколад,  и другие кето - продукты придадут энергию мозгу и телу и уменьшат сантиметры на талии.
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-05", 'Продукт', 'product-card__img')
				p.product-card__title TRUE SHAKE
				p.product-card__subtitle Правильные коктейли для молодости и красоты
				p.product-card__text С коктейлями TRUE SHAKE легко быть современным, модным, здоровым, питаться правильно, экономить свое время и быть эффективным!
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-06", 'Продукт', 'product-card__img')
				p.product-card__title 5,5 teArt
				p.product-card__subtitle Чай как искусство
				p.product-card__text Листовой отборный чай, с травами и фруктовыми добавками, снижающий усвоение глюкозы и выполняющий важные функции.
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-07", 'Продукт', 'product-card__img')
				p.product-card__title Косметика
				p.product-card__subtitle Инновационная омолаживающая линия по уходу за кожей лица
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-08", 'Продукт', 'product-card__img')
				p.product-card__title Уход за телом
				p.product-card__subtitle Современные средства для рук и тела, регенерирующая зубная паста, пептидный шампунь
			a(href="/").product-card
				+responsivePicture("/assets/img/product-img-09", 'Продукт', 'product-card__img')
				p.product-card__title Инновационные товары
				p.product-card__subtitle Стильные полезные украшения, ЧаКарты,  шейкеры с ионами – наши разработки для повышения эффективности и отличного самочувствия
		a(href="#").products__link.button.button--blue В магазин
