include ../../_mixins

section.section.production-technologies
	.container
		h2.section__title Технологии здоровья и красоты
		p.section__subtitle.section__subtitle--center Сотни ценных ингредиентов в составе продуктов
		.production-technologies-infograph
			button.production-technologies-infograph-step(aria-label="Открыть модальное окно 'Микрокапсули-рование'" aria-expanded="false" data-production-technologies-modal="pt1")
				.production-technologies-infograph-step__button
					span
				p.production-technologies-infograph-step__title Микрокапсули-рование
			button.production-technologies-infograph-step(aria-label="Открыть модальное окно 'Пептидные ультрализаты'" aria-expanded="false" data-production-technologies-modal="pt2")
				.production-technologies-infograph-step__button
					span
				p.production-technologies-infograph-step__title Пептидные <br> ультрализаты
			button.production-technologies-infograph-step(aria-label="Открыть модальное окно 'Адъюванты'" aria-expanded="false" data-production-technologies-modal="pt3")
				.production-technologies-infograph-step__button
					span
				p.production-technologies-infograph-step__title Адъюванты
			button.production-technologies-infograph-step(aria-label="Открыть модальное окно 'Липосомированные формы'" aria-expanded="false" data-production-technologies-modal="pt4")
				.production-technologies-infograph-step__button
					span
				p.production-technologies-infograph-step__title Липосомированные <br> формы
			button.production-technologies-infograph-step(aria-label="Открыть модальное окно 'Синергетический подход'" aria-expanded="false" data-production-technologies-modal="pt5")
				.production-technologies-infograph-step__button
					span
				p.production-technologies-infograph-step__title Синергетический <br> подход
			button.production-technologies-infograph-step(aria-label="Открыть модальное окно 'CO2-экстракция'" aria-expanded="false" data-production-technologies-modal="pt6")
				.production-technologies-infograph-step__button
					span
				p.production-technologies-infograph-step__title CO2-экстракция
			button.production-technologies-infograph-step(aria-label="Открыть модальное окно '3D-технология'" aria-expanded="false" data-production-technologies-modal="pt7")
				.production-technologies-infograph-step__button
					span
				p.production-technologies-infograph-step__title 3D-технология
			+responsivePicture("/assets/img/technologies-infograph", 'Инфографика', 'production-technologies-infograph__img', ['png'])
			+responsivePicture("/assets/img/technologies-infograph-pc", 'Инфографика', 'production-technologies-infograph__img production-technologies-infograph__img--pc', ['png'])

			.production-technologies-modals
				.production-technologies-modal(aria-hidden="true" data-production-technologies="pt1")
					button.production-technologies-modal__close(aria-label="Закрыть модальное окно")
					.production-technologies-modal__img-wrapper
						+responsivePicture("/assets/img/technologies-infograph-01", 'Инфографика', 'production-technologies-modal__img', ['png'])
					p.production-technologies-modal__title Микрокапсулирование
					p.production-technologies-modal__text Этот метод помогает надёжно защитить пробиотики и другие активные вещества от агрессивных факторов вплоть до момента усвоения организмом человека. Микрокапсулы образуют защитный слой, который сохраняет стабильность и активность компонентов
				.production-technologies-modal(aria-hidden="true" data-production-technologies="pt2")
					button.production-technologies-modal__close(aria-label="Закрыть модальное окно")
					.production-technologies-modal__img-wrapper
						+responsivePicture("/assets/img/technologies-infograph-02", 'Инфографика', 'production-technologies-modal__img', ['png'])
					p.production-technologies-modal__title Пептидные ультрализаты
					p.production-technologies-modal__text «Тренажеры» для иммунитета – способствуют росту полезной микрофлоры здорового человека, оказывают заметное и быстрое позитивное влияние на организм
				.production-technologies-modal(aria-hidden="true" data-production-technologies="pt3")
					button.production-technologies-modal__close(aria-label="Закрыть модальное окно")
					.production-technologies-modal__img-wrapper
						+responsivePicture("/assets/img/technologies-infograph-03", 'Инфографика', 'production-technologies-modal__img', ['png'])
					p.production-technologies-modal__title Адъюванты
					p.production-technologies-modal__text Применяются как необходимое дополнение к основным компонентам, но играют важную роль в работе продуктов и позволяют получить от них более выраженный эффект: улучшают усвоение организмом, транспортировку и взаимодействие активных веществ с клетками организма, при этом уменьшая дозировку основных компонентов
				.production-technologies-modal(aria-hidden="true" data-production-technologies="pt4")
					button.production-technologies-modal__close(aria-label="Закрыть модальное окно")
					.production-technologies-modal__img-wrapper
						+responsivePicture("/assets/img/technologies-infograph-04", 'Инфографика', 'production-technologies-modal__img', ['png'])
					p.production-technologies-modal__title Липосомированные формы
					p.production-technologies-modal__text Повышают биодоступность активных веществ в продуктах Agenyz. Липосомы – крошечные пузырьки, которые оборачивают активные ингредиенты, чтобы защитить их до момента попадания в организм. Поэтому усвоение полезных компонентов происходит более эффективно, даёт возможность оказать максимальное позитивное воздействие на организм
				.production-technologies-modal(aria-hidden="true" data-production-technologies="pt5")
					button.production-technologies-modal__close(aria-label="Закрыть модальное окно")
					.production-technologies-modal__img-wrapper
						+responsivePicture("/assets/img/technologies-infograph-05", 'Инфографика', 'production-technologies-modal__img', ['png'])
					p.production-technologies-modal__title Синергетический подход
					p.production-technologies-modal__text Позволяет создавать продукты, дающие более выраженные и долгосрочные результаты: все компоненты работают в тандеме, усиливая друг друга, обеспечивая синергетический эффект и комплексное влияние на организм
				.production-technologies-modal(aria-hidden="true" data-production-technologies="pt6")
					button.production-technologies-modal__close(aria-label="Закрыть модальное окно")
					.production-technologies-modal__img-wrapper
						+responsivePicture("/assets/img/technologies-infograph-06", 'Инфографика', 'production-technologies-modal__img', ['png'])
					p.production-technologies-modal__title CO2-экстракция
					p.production-technologies-modal__text Применяется для бережной экстракции полезных компонентов из растительных источников: для этого применяется Это помогает не растрачивать пользу растений впустую, а использовать её по максимуму на благо человека
				.production-technologies-modal(aria-hidden="true" data-production-technologies="pt7")
					button.production-technologies-modal__close(aria-label="Закрыть модальное окно")
					.production-technologies-modal__img-wrapper
						+responsivePicture("/assets/img/technologies-infograph-07", 'Инфографика', 'production-technologies-modal__img', ['png'])
					p.production-technologies-modal__title 3D-технология
					p.production-technologies-modal__text Даёт возможность контролировать процесс поступенчатого высвобождения активных веществ в нужном отделе ЖКТ и тем самым повышает эффективность их воздействия
