include ../../_mixins

section.section.production
	.container
		.production__column
			h2.section__title.production__title Выбор производства для Agenyz<span class="r-symbol">®</span>
			p.section__subtitle.production__subtitle Мы ищем производителей, которые влюблены в свое дело, для которых высокое качество их продукции является главной ценностью – так же, как и для нас
			.production__texts
				.production__texts-column
					p.production__text Компания Agenyz<span class="r-symbol">®</span> предъявляет самые высокие требования к уровню производителей своей продукции – это приоритет нашей деятельности!
					p.production__text Проводится всесторонний и тщательный анализ каждого потенциального партнера и контрагента.
				p.production__text Проверяются десятки параметров, основные из которых: проверка качества сырья,с которым работает производство, оснащение оборудованием и современными технологиями производства, сертификаты и патенты предприятия.
		+responsivePicture("/assets/img/production-img-01", 'ISO', 'production__img')
