include ../../_mixins

section.section.section--dark.hero.hero--production
	.container
		.hero__column
			h1.hero__title.hero__title--small Производство продукции Agenyz
		.hero__texts
			p.hero__text Мы активно сотрудничаем с командами экспертов, которые посвятили себя созданию уникальных продуктов для здоровья, используя самые последние научные открытия и клинические исследования.
			p.hero__text Гордимся тем, что наши продукты созданы из природных компонентов высшего качества с использованием технологий последнего поколения. Продукты, работающие на практике, – проверено тысячами наших клиентов.
		+responsivePicture("/assets/img/hero-production-image-01", 'Таблетки', 'hero__img')
	+responsivePicture("/assets/img/hero-production-bg-img", 'Фон первого блок', 'hero__bg-img', ['png'])
