include ../../_mixins

section.section.section--dark.about-biohack
	.container
		h2.section__title.about-biohack__title Биохакинг c Agenyz
		.about-biohack__block
			p.about-biohack__text
				| Биохакинг - это современный подход к повышению личной эффективности, актуализации своих внутренних резервов и управлению долголетием!
				<br><br>
				| Компания Agenyz в числе первых внедрила концепцию биохакинга в России. Мы создаём продукты и инструменты для всех сфер жизни, помогая клиентам осознать важность и возможность управления своим состоянием и комплексного подхода к здоровью.
