section.section.direction
	.container
		h2.section__title.direction__title Направления работы компании
		.direction__row
			.direction-card
				h3.direction-card__title Эко-Сообщество
				p.direction-card__text Мы создаем сообщество людей и формируем качественно новый стиль жизни, наполненный пониманием важности уважения, благодарности и любви к себе, своим близким и окружающим нас людям.
			.direction-card
				h3.direction-card__title Биохакинг
				p.direction-card__text Будущее уже сегодня! Мы создаём уникальные инновационные продукты, чтобы вы могли улучшить физическую форму, повысить уровень энергии и замедлить процессы старения.
			.direction-card
				h3.direction-card__title Личный доход
				p.direction-card__text Для тех, кто хочет больше финансовой уверенности и ищет своё дело. Вы сможете  создать новый источник дохода и научиться эффективно управлять личными финансами. Вам откроется возможность изменить свою жизнь к лучшему, вы сможете путешествовать по всему миру вместе с нами!
