section.section.section--dark.team
	.container
		h2.section__title Становитесь частью <br> команды Agenyz
		p.section__subtitle Присоединяйтесь к команде Agenyz сегодня <br> и станьте частью глобального движения <br> за здоровье и успех!
		.team__column
			.team-card
				p.team-card__title Программа лояльности
				p.team-card__subtitle Для Премиум клиентов Agenyz
				p.team-card__text Для выгодных покупок продукции высочайшего качества — кэшбек и подарки при участии в программе Get Plus
				.team-card__list
					p.team-card-list-item
						svg.team-card-list-item__icon
							use(href="#icon-check")
						| До 50% подарков к каждому заказу
					p.team-card-list-item
						svg.team-card-list-item__icon
							use(href="#icon-check")
						| До 10% кэшбэк
				a(href="/").button.button--white.team-card__link Подробнее
			.team-card.team-card--dark
				p.team-card__title Премиальная программа
				p.team-card__subtitle Для промоутеров Agenyz
				p.team-card__text Выгодная реферальная программа позволит вам получать не только до 20% вознаграждений с заказов по вашим личным рекомендациям, но и проценты с заказов, совершенных по рекомендации ваших Промоутеров.
				.team-card__list
					p.team-card-list-item
						svg.team-card-list-item__icon
							use(href="#icon-check")
						| 50 000 ₽ средний доход за месяц
				a(href="/").button.button--green.team-card__link Подробнее
