include ../../_mixins

section.section.section--dark.hero
	.container
		.hero__column
			h1.hero__title Созидай вместе с Agenyz<span class="r-symbol">®</span>!
			p.hero__subtitle Agenyz — премиальный бренд, путь к здоровью и благополучию. Мы строим будущее, в котором каждый может добиться успеха и раскрыть свой потенциал.
			button.button.hero__button Присоединиться
		.hero__img
			video(src="/assets/video/hero-main-video.mp4" autoplay muted playsinline)
		//- +responsivePicture("/assets/img/hero-image-01", 'Фото выступления', 'hero__img')
		.hero__cards
			.hero-swiper.swiper.js-hero-swiper
				.swiper-wrapper
					.swiper-slide.hero-slide.hero-slide--pink
						.hero-slide__wrapper
							p.hero-slide__title 11+
							p.hero-slide__text центров Agenyz
					.swiper-slide.hero-slide
						.hero-slide__wrapper
							p.hero-slide__title 14+
							p.hero-slide__text клинических испытаний подтверждают эффективность наших продуктов
					.swiper-slide.hero-slide.hero-slide--blue
						.hero-slide__wrapper
							p.hero-slide__title 65 000+
							p.hero-slide__text промоутеров уже получили свои вознаграждения
					.swiper-slide.hero-slide.hero-slide--blue
						.hero-slide__wrapper
							p.hero-slide__title 50+
							p.hero-slide__text пунктов выдачи Agenyz
					.swiper-slide.hero-slide.hero-slide--graph
						.hero-slide__wrapper
							p.hero-slide__title 100 000+
							p.hero-slide__text продуктов продаётся каждый месяц
					.swiper-slide.hero-slide.hero-slide--sky
						.hero-slide__wrapper
							p.hero-slide__title 200 000+
							p.hero-slide__text клиентов доверяют нашей продукции
					.swiper-slide.hero-slide.hero-slide--green
						.hero-slide__wrapper
							p.hero-slide__title 400+
							p.hero-slide__text человек побывали с нами в незабываемых путешествиях по всему земному шару
				.swiper-pagination.js-hero-swiper-pagination
