section.section.section--dark.technologies
	.container
		.technologies__column
			h2.section__title Технологии производства
			p.section__subtitle Сотни ценных ингредиентов в составе продуктов
			p.section__text Компания AGenYZ разрабатывает продукцию для восполнения ресурсов организма и помогает раскрыть его потенциал, чтобы долгие годы оставаться ментально и физически здоровыми
			a.button.technologies__link(href="/") Узнать больше

		.technologies__cards
			.technologies-swiper.swiper.js-technologies-swiper
				.swiper-wrapper
					.swiper-slide.technologies-slide.technologies-slide--color-sky
						.technologies-slide__wrapper
							svg.technologies-slide__icon
								use(href="#icon-innovation")
							p.technologies-slide__text Инновационные технологии
					.swiper-slide.technologies-slide
						.technologies-slide__wrapper
							svg.technologies-slide__icon
								use(href="#icon-microcapsulation")
							p.technologies-slide__text Микрокапсули-<br>рование
					.swiper-slide.technologies-slide.technologies-slide--color-blue
						.technologies-slide__wrapper
							svg.technologies-slide__icon
								use(href="#icon-3d")
							p.technologies-slide__text 3D технология
					.swiper-slide.technologies-slide.technologies-slide--color-green
						.technologies-slide__wrapper
							svg.technologies-slide__icon
								use(href="#icon-peptides")
							p.technologies-slide__text Пептидные ультрализаты
					.swiper-slide.technologies-slide.technologies-slide--color-pink
						.technologies-slide__wrapper
							svg.technologies-slide__icon
								use(href="#icon-synergistic")
							p.technologies-slide__text Синергетический эффект
					.swiper-slide.technologies-slide.technologies-slide--color-green
						.technologies-slide__wrapper
							svg.technologies-slide__icon
								use(href="#icon-liposomal")
							p.technologies-slide__text Липосомированные формы
					.swiper-slide.technologies-slide
						.technologies-slide__wrapper
							svg.technologies-slide__icon
								use(href="#icon-co2")
							p.technologies-slide__text CO2-экстракция
				.swiper-pagination.js-technologies-swiper-pagination
