footer.footer
	.container
		.footer__column
			a(href="/").logo.footer__logo
				img(src="/assets/img/logo.svg", alt="Agenyz")
			nav.footer-nav
				p.footer-nav__title О компании
				a(href="/").footer-nav__link О компании
				a(href="/").footer-nav__link Биохакинг
				a(href="/").footer-nav__link Производство
				a(href="/").footer-nav__link О продукции
			nav.footer-nav
				p.footer-nav__title Магазин
				a(href="/").footer-nav__link Каталог
				a(href="/").footer-nav__link Питание
				a(href="/").footer-nav__link Здоровье
				a(href="/").footer-nav__link Косметика
				a(href="/").footer-nav__link Аксессуары
			nav.footer-nav
				p.footer-nav__title Контактная информация
				a(href="/").footer-nav__link
					svg.footer-nav__link-icon
						use(href="#icon-social-telegram")
					| agenyz/t.me
				a(href="/").footer-nav__link
					svg.footer-nav__link-icon
						use(href="#icon-social-vk")
					| agenyz/vk.com
				a(href="/").footer-nav__link
					svg.footer-nav__link-icon
						use(href="#icon-social-youtube")
					| agenyz
				a(href="/").footer-nav__link
					svg.footer-nav__link-icon
						use(href="#icon-social-ok")
					| agenyz/ok.ru
				a(href="/").footer-nav__link
					svg.footer-nav__link-icon
						use(href="#icon-social-looky")
					| agenyz
		.footer__bottom
			a(href="/").footer__text Политика конфиденциальности
			a(href="/").footer__text Оферта
			p.footer__text 117105, г. Москва, ВН.ТЕР.Г. МУНИЦИПАЛЬНЫЙ ОКРУГ ДОНСКОЙ, Ш ВАРШАВСКОЕ, Д. 1А
			p.footer__text ООО "АЛЬФАДЖЕНИС"
