extends _layout

block main
	include blocks/biohacks/block-hero  
	include blocks/biohacks/block-base
	include blocks/biohacks/block-results
	include blocks/biohacks/block-biohacks
	include blocks/biohacks/block-about
	include blocks/biohacks/block-products
	include blocks/biohacks/block-knowledge
	include blocks/biohacks/block-team
