extends _layout

block main
	include blocks/main/block-hero
	include blocks/main/block-direction
	include blocks/main/block-important-about
	include blocks/main/block-mission
	include blocks/main/block-concept
	include blocks/main/block-history
	include blocks/main/block-principles
	include blocks/main/block-technologies
	include blocks/main/block-team
