extends _layout

block main
	include blocks/production/block-hero
	include blocks/production/block-unique
	include blocks/production/block-technologies
	include blocks/production/block-production
	include blocks/production/block-partners
	include blocks/production/block-about-biohacks
	include blocks/production/block-biohacks
	include blocks/biohacks/block-results
	include blocks/product/block-direction
	include blocks/product/block-products
