extends _layout

block main
	include blocks/production/block-hero
	include blocks/production/block-unique
	include blocks/production/block-technologies
	include blocks/production/block-production
	include blocks/production/block-partners
